<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    
    <!--LAB 2-->
    <!--<add key="strConexao" value="Data Source=localhost; Password=123456; User id=root; Database=pisam;" />-->
    
    <!--LAB 4-->
    <!--<add key="strConexao" value="Data Source=localhost; Password=; User id=root; Database=pisam; Port=3306;" />-->

    <!--LAB 5-->
    <!--<add key="strConexao" value="Data Source=localhost; Password=aluno; User id=root; Database=pisam; Port=3306;" />-->
    
    <!--PC do Rafael-->
    <!--<add key="strConexao" value="Data Source=localhost; Password=123456; User id=root; Database=pisam; Port=3306;" />-->
    
    <!--PC da Gabi-->
    <add key="strConexao" value="Data Source=localhost; Password=gabriele; User id=root; Database=pisam; Port=3306;"/>
    
	</appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState timeout="25"></sessionState>
    <httpRuntime/>
  </system.web>
</configuration>